<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link" href="#">Search</a>
                    <a class="nav-item nav-link" href="create">Create</a>
                    <a class="nav-item nav-link disabled" href="#">Admin</a>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Event Management System</h1>
                <p class="lead">HKBU Event Management System is web-based system for department and student societies to broadcast events and actvities as well as registration.</p>
            </div>
        </div>


<!--create.ejs-->

<form action="/event/create" method="POST">
    <div class="row">
    <div class="container" class="card col-12 col-sm-6">
        <label>Name</label>
        <input type="text" class="form-control" name="Event[name]" required>
    </div>
    <div class="container">  <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
